*{
    background-image:url(images/galaxy.gif);
}
h1{
    margin-left: 450px;
    letter-spacing: 2px;
    font-style:normal;
    word-spacing: 1px;
    margin-top: -0px;
    color: white;
}
.inside-div{
    margin-left: 540px;
    margin-top: 45px;
}
input{
    padding: 10px 18px;
    background-color: white;
    color: gray;
    border: 1px solid white;
}
select{
    padding: 9px 14px;
    color: gray;
    background-color: white;
    border: 1px solid white;
}
button{
    padding: 10px 10px;
    background-color: rgb(152, 147, 147);
    color: white;
    border:1px solid white 
}
#flex-section{
    padding: 15px;
    background-color: white;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
    gap: 30px; 
    margin-bottom: -10px;
    /* background: transparent; */
}
#message{
    padding: 45px 135px;
    background-color:white;
    text-align: center;
    margin: 20px 0px;
    color: white;
    margin-left: 280px;
    font-size: 20px;
    /* background: transparent; */
}
#image-container{
    margin-top: 40px;
    margin-left: 30px;
    height: 100px;
    width: 100px;
}
@media (max-width:700px){
    h1{
        font-size: 55px;
        padding-right: 350px;
        width: 1200px;
    }
    .inside-div{
        text-align: center;
        margin-right: 0px;
        width: 600px;
        padding-left: 700px;
        margin-left: 0px;
        font-size: 85px;
    }
    body{
        height: 200px;
    }
}